
form{
	padding-top: 5rem;
}
.contactoform{
	width: 15rem;
  display: flex;
  justify-content: center;
}
.tarjetaa{
	padding: 2rem;
}
.chicho{
	padding-top: 4rem;
}
.imgform{
    padding-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
    width: 17rem;
}
.ubicacion{
	padding: 50px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	background-color: seashell;
}

